@use '../abstracts/variables' as *;

.footer {
  background-color: var(--color-primary-light);
  margin-top: $spacing-lg;
  padding: $spacing-md 0;

  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    font-size: 14px;
    color: var(--color-text-secondary);
  }
}